.hidden {
  display: none !important;
}

.shown {
  display: revert !important;
}

.no-opacity {
  opacity: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}